/* ==========================================
   CONTADOR
========================================== */

.tempo {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
    flex-wrap: wrap;
}

.tempo div {
    width: 75px;
    padding: 12px 5px;

    background: #d71920;

    border: 3px solid #ffd400;

    border-radius: 10px;

    box-shadow: 0 5px 0 #8c0000;
}

.tempo strong {
    display: block;

    font-size: 28px;

    color: white;
}

.tempo span {
    display: block;

    margin-top: 4px;

    font-size: 10px;

    font-weight: bold;

    color: #ffd400;
}