* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #07152f;
    color: white;
}

.convite {
    min-height: 100vh;
}

.hero {
    min-height: 100vh;
    padding: 40px 20px;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background:
        linear-gradient(
            rgba(3, 12, 35, .82),
            rgba(3, 12, 35, .95)
        ),
        url("assets/images/background.jpg");

    background-size: cover;
    background-position: center;
}

.logo {
    font-size: 32px;
    font-weight: 900;
    color: #ffd400;

    margin-bottom: 20px;

    text-shadow:
        3px 3px 0 #d00000;
}

.chamada {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

h1 {
    font-size: 52px;
    font-weight: 900;

    color: #ffd400;

    text-shadow:
        4px 4px 0 #d00000;
}

.idade {
    width: 120px;
    height: 120px;

    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;

    background: #d71920;

    border: 6px solid #ffd400;

    font-size: 70px;
    font-weight: 900;

    box-shadow:
        0 8px 0 #8c0000;
}

h2 {
    margin-bottom: 20px;
}

.mensagem {
    max-width: 420px;
    line-height: 1.5;

    margin-bottom: 30px;
}

.btn-confirmar {
    border: none;

    background: #ffd400;
    color: #111;

    padding: 18px 28px;

    border-radius: 12px;

    font-size: 17px;
    font-weight: 900;

    cursor: pointer;

    box-shadow:
        0 6px 0 #a87900;

    transition: .2s;
}

.btn-confirmar:hover {
    transform: translateY(3px);

    box-shadow:
        0 3px 0 #a87900;
}

.informacoes {
    padding: 35px 20px;

    background: #0c2148;
}

.info {
    max-width: 500px;

    margin: 15px auto;

    padding: 18px;

    display: flex;
    align-items: center;
    gap: 20px;

    background: rgba(255,255,255,.08);

    border-radius: 15px;
}

.info span {
    font-size: 30px;
}

.info strong {
    color: #ffd400;
}

.info p {
    margin-top: 5px;
}

.contador {
    padding: 40px 20px;

    text-align: center;

    background: #050d20;
}

#countdown {
    font-size: 25px;
    font-weight: bold;

    color: #ffd400;
}

@media (max-width: 600px) {

    h1 {
        font-size: 42px;
    }

    .logo {
        font-size: 26px;
    }

    .mensagem {
        font-size: 15px;
    }

}